.sidebar {
  margin: 24px;

  padding: 16px;
  width: 240px;
}

.item {
  list-style-type: none;
  font-weight: 600;
  padding: 16px;

  :hover,
  :active {
    box-shadow: inset 0 -2px 0 0 white;
  }
}
